/* 📌 Reset default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
.container {
  max-width: 960px;      /* Giới hạn chiều rộng */
    margin: 0 auto;         /* Căn giữa */
    padding: 20px;          /* Khoảng cách nội dung với mép */
    background-color: #f1f1f1; /* Màu nền có thể tùy chỉnh */
    border-radius: 10px;    /* Bo góc nhẹ nếu thích */
    box-shadow: 0 0 10px rgba(0,0,0,0.05); /* Tạo chiều sâu nhẹ */
}
.search-box {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.search-box input {
  flex: 3;
  min-width: 0;
  padding: 10px 15px;
  font-size: clamp(14px, 2vw, 18px);
  border: none;
  border-bottom: 3px solid #252525;
  background-color: #f9f9f9;
  border-radius: 6px;
}
.search-box button {
  flex: 1; 
  min-width: 0; 
  padding: 10px 15px;
  font-size: clamp(14px, 2vw, 18px);
  background-color: #252525;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Hover */
.search-box button:hover {
  background-color: #444;
}
#.result {
    position: flex;
}
.result h3 {
    font-size: 20px;
    color: #252525;
}
.result .word {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
}
.result button {
    background-color: transparent;
    color: #252525;
    border: none;
    outline: none;
    font-size: 15px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 10px 0;
    font-size: 15px;
}
.word-meaning {
    color: #252525;
}

.word-example {
     color: #252525;
    font-style: italic;
    border-left: 5px solid #252525;
    padding-left: 10px;
    margin-top: 20px;
}
.error {
    margin-top: 10px;
    text-align: center;
}
